<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FuzzyByte.NokiaCooker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FuzzyByte.NokiaCooker.Properties.Settings>
            <setting name="Plugins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="InitializePlugins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolBar_Text" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolBar_Big" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolPlugin_Text" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolPlugin_Big" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeBackup" serializeAs="String">
                <value>True</value>
            </setting>
        </FuzzyByte.NokiaCooker.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
